<div class="col-md-2">
<ul class="tabs tab-style-1" role="tablist">
    <li class="active" role="presentation">
        <a href="/admin">Items
            <i class="more-less fa fa-angle-down"></i>
        </a>
    </li>
    <li role="presentation">
        <a href="/admin/userlist">User
            <i class="more-less fa fa-angle-down"></i>
        </a>
    </li>
    <li role="presentation">
        <a href="/admin/blog">Blog
            <i class="more-less fa fa-angle-down"></i>
        </a>
    </li>

    <li role="presentation">
        <a href="/admin/orders">Orders
            <i class="more-less fa fa-angle-down"></i>
        </a>
    </li>

    <li role="presentation">
        <a href="/admin/comments">Comments
            <i class="more-less fa fa-angle-down"></i>
        </a>
    </li>
</ul>
</div>