<footer class="footer-style-2" style="background-color: #f5cda8">
    <div class="footer-style-2-inner">
        <div class="container">
            <div class="row">
                <div class="widget-footer widget-text col-first col-small">
                    <a href="#">
                        <img class="logo-footer" src="/images/slike/liskina.png" alt="Logo Orchid" />
                    </a>
                    <p> U Liskinoj bašti sve raste uz igru i pesmu, bez pesticida. Volite vaše biljke i voleće i one vas. </p>
                </div>
                <div class="widget-footer widget-link col-second col-small">
                    <div class="list-link">
                        <h4 class="h4 heading">NAVIGACIJA</h4>
                        <ul>
                            <li>
                                <a href="/">Početna</a>
                            </li>
                            <li>
                                <a href="/items">Proizvodi</a>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="/profile">Profil</a>
                            </li>
                            <li>
                                <a href="/about">O nama</a>
                            </li>
                            <li>
                                <a href="/contact">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="list-link">
                        <h4 class="h4 heading">PROIZVODI</h4>
                        <ul>
                            <li>
                                <a href="/items?category=voce">Voće</a>
                            </li>
                            <li>
                                <a href="/items?category=povrce">Povrće</a>
                            </li>
                            <li>
                                <a href="/items?category=domaciproizvodi">Domaći proizvodi</a>
                            </li>
                            <li>
                                <a href="/items?category=mlekaijaja">Mleka i Jaja</a>
                            </li>
                            <li>
                                <a href="/items?category=vinairakije">Vina i Rakije</a>
                            </li>
                            <li>
                                <a href="/items?category=orasasti">Orasasti plodovi</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="widget-footer widget-newsletter-footer col-last col-medium">
                    <h4 class="h4 heading">LISKIN KLUB</h4>
                    <p>Ostavite svoju e-mail adresu i prvi saznajte kad će berba!</p>
                    <form class="Orchid-form form-inline btn-add-on circle border">
                        <div class="form-group">
                            <input class="form-control pill transparent" placeholder="E-mail adresa" type="email" />
                            <button class="btn btn-brand circle" type="submit">
                                <i class="fa fa-envelope-o"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right style-2">
        <div class="container">
            <div class="row">
                <div class="copy-right-inner">
                    <p>Копирајт © 2020 Борис Довечер</p>
                    <div class="widget widget-footer widget-footer-link-inline">
                        <ul class="list-unstyle">
                            <li>
                                <a href="#">Uslovi korišćenja</a>
                            </li>
                            <li>
                                <a href="#">Privatnost</a>
                            </li>
                            <li>
                                <a href="#">Dostava</a>
                            </li>
                            <li>
                                <a href="#">Politika</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

