<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="about" id="page">
    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="row blog-v reverse">
                <div class="col-md-12">
                    <div class="post">
                        <div class="img-wrapper js-set-bg-blog-thumb">
                            <img src="images/slike/kosmo.jpg" alt="blog-thumb">
                        </div>
                        <div class="desc">
                            <h3 class="title-about">Ko smo, šta smo?</h3>
                            <p class="sapo">Mi smo ljudi skontavši svoju prirodu odlučili da joj se vratimo i evo sad živimo u skladu sa njom.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="post">
                        <div class="img-wrapper js-set-bg-blog-thumb">
                            <img src="images/slike/staradimo.jpg" alt="blog-thumb">
                        </div>
                        <div class="desc">
                            <h3 class="title-about">Šta radimo?</h3>
                            <p class="sapo">Trudimo se da izgradimo jedan prijatan samo-održiv sistem pa da u njemu malo zablejimo.</p>
                            <p class="sapo">O svim biljkama brinemo se kao o svojoj deci. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boxed-sm">
        <div class="container">
            <div class="heading-wrapper text-center">
                <h3 class="heading">Naš tim</h3>
            </div>
            <div class="team-wrapper">
                <div class="row">
                    <div class="about-carousel">
                        <div class="item">
                            <figure class="item-team">
                                <div class="img-wrapper">
                                    <img class="img-responsive" src="images/slike/liska.jpg" alt="product thumbnail">
                                </div>
                                <figcaption class="desc text-center">
                                    <h4 class="name">Liska</h4>
                                    <span class="position">Šefica</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="item-team">
                                <div class="img-wrapper">
                                    <img class="img-responsive" src="images/slike/majka.jpg" alt="product thumbnail">
                                </div>
                                <figcaption class="desc text-center">
                                    <h4 class="name">Kata Salata</h4>
                                    <span class="position">Služavka i čistačica</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="item-team">
                                <div class="img-wrapper">
                                    <img class="img-responsive" src="images/slike/domacin.jpg" alt="product thumbnail">
                                </div>
                                <figcaption class="desc text-center">
                                    <h4 class="name">Bole Tartuf</h4>
                                    <span class="position">Teretni mag(arac)</span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs%>
<% include partials/footerscripts.ejs %>
</body>
</html>
