<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body class="animsition">
<div class="contact" id="page">
    <% include partials/header.ejs %>

    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="images/slike/shoppozadina.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Stupi u kontakt</h3>
    </section>
    <section class="boxed-sm">
        <div class="container">
            <div class="row">
                <div class="row icon-box-contact-wrapper">
                    <div class="row main">
                        <div class="col-md-4">
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                                <p>Iza sedam gora</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="icon-box" href="tel:0123456789 ">
                                <i class="fa fa-mobile"></i>(+007) 13 122 4200</a>
                        </div>
                        <div class="col-md-4">
                            <a class="icon-box" href="tel:0123456789 ">
                                <i class="fa fa-envelope-o"></i>kontakt@liskina.basta </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="map-canvas" id="js-map-canvas"></div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs%>
<script src="js/library/jquery.min.js"></script>
<script src="js/library/bootstrap.min.js"></script>
<script src="js/function-check-viewport.js"></script>
<script src="js/library/slick.min.js"></script>
<script src="js/library/select2.full.min.js"></script>
<script src="js/library/imagesloaded.pkgd.min.js"></script>
<script src="js/library/jquery.mmenu.all.min.js"></script>
<script src="js/library/rellax.min.js"></script>
<script src="js/library/isotope.pkgd.min.js"></script>
<script src="js/library/bootstrap-notify.min.js"></script>
<script src="js/library/bootstrap-slider.js"></script>
<script src="js/library/in-view.min.js"></script>
<script src="js/library/countUp.js"></script>
<script src="js/library/animsition.min.js"></script>
<script src="js/global.js"></script>
<script src="js/config-mm-menu.js"></script>
<script src="js/config-set-bg-blog-thumb.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
<script src="js/config-google-map.js"></script>
</body>
</html>
