<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="contact" id="page">
    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="row">
                <div class="row icon-box-contact-wrapper">
                    <div class="row main">
                        <div class="col-md-4">
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                                <p>Veliko ratno ostrvo</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="icon-box" href="tel:+381606221127">
                                <i class="fa fa-mobile"></i>+381 06 622 1127</a>
                        </div>
                        <div class="col-md-4">
                            <a class="icon-box" href="mailto:liska@basta.co.yu ">
                                <i class="fa fa-envelope-o"></i>Email: liska@basta.co.yu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="map-canvas" id="js-map-canvas"></div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs%>
<% include partials/footerscripts.ejs %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClvRxxMn2jH_tZ3Ky7mlpU7abvqpTOOCU"></script>
<script src="js/config-google-map.js"></script>
</body>
</html>
