<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="login" id="page">
    <% include partials/header.ejs %>
    <section class="boxed-sm">
        <div class="container">
            <div class="login-wrapper">
                <div class="row">
                    <h3>Log In</h3>
                    <form action="/auth/login"  method="post">
                        <div class="form-group organic-form-2">
                            <label>Username *</label>
                            <input class="form-control" type="text" name="username">
                        </div>
                        <div class="form-group organic-form-2">
                            <label>Password *</label>
                            <input class="form-control" type="Password" name="password">
                        </div>
                        <div class="form-group remember-me">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <a class="pull-right" href="/signup">Signup</a>
                        </div>
                        <div class="form-group footer-form">
                            <button  class="btn btn-brand pill" type="submit">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>



