<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="animsition">
<div class="about" id="page">
    <% include partials/header.ejs %>
    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="/images/slike/shoppozadina.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Profile</h3>
    </section>
    <section class="boxed-sm">
        <div class="container">
            <div class="row blog-v reverse">

                <div class="col-md-12">

                    <div class="desc" style="padding-top: 50px;">
                        <h3 class="title-about">My orders: </h3>
                        <table class="shop_attributes table table-striped table-bordered">
                            <tbody>
                            <tr style='text-align:left; background-color:#CCC'>
                                <th>Items </th>
                                <th>Total price</th>
                                <th>Ocena</th>
                                <th>Komentar</th>
                                <th>Action</th>
                            </tr>
                            <% if(data){ %>
                            <% data.forEach(function (o) { %>
                            <% o.items.forEach(function (v) { %>
                            <tr>
                                <td>
                                    <%= v.itemname %>
                                </td>
                                <td>
                                    <p><%= o.orderprice %> RSD</p>
                                </td>
                                <form action="/review/<%= v.itemid %>" method="post" name="form1">
                                <td>
                                    <div class="hidden">
                                        <input id="orderId" value="<%= o._id %>">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <select  class="form-control" name="rev" id="rev">
                                                <option value="pozitivna">Pozitivna</option>
                                                <option value="neutralna">Neutralna</option>
                                                <option value="negativna">Negativna</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <textarea class="form-control" type="text" id='comment' name="comment" rows="1" placeholder="Your Comment"></textarea>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-brand pill" type="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                </td>
                                </form>
                            </tr>
                            <% }) %>
                            <% })} %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
